<!-- navbar start -->
<div class="navbar-top style-one text-white bgs-cover" style="background-image: url(assets/images/background/header-top-bg.jpg);">
    <div class="container container-1570">
        <div class="row">
            <div class="col-lg-6">
                <div class="topbar-left text-lg-start text-center">
                    <span class="off">20% OFF</span>
                    <span>Free Shipping on all U.S. Orders $50+</span>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="topbar-right justify-content-center justify-content-lg-end">
                    <li><i class="fal fa-phone"></i> <b>Call :<a href="tel:8175764174"> (817) 576-4174</a></b></li>
                    <li><i class="fal fa-envelope"></i> <a href="mailto:staff@kdshippingplus.com">staff@kdshippingplus.com</a></li>
                    <li class="social-style-one">
                        <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="navbar style-one navbar-area navbar-expand-lg py-20">
    <div class="container container-1570">
        <div class="responsive-mobile-menu">
            <button class="menu toggle-btn d-block d-lg-none" data-target="#Iitechie_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-left"></span>
                <span class="icon-right"></span>
            </button>
        </div>
        <div class="logo">
            <a href="index.html"><img src="assets/images/logos/logo.png" alt="KD Shipping Plus"></a>
        </div>
        <div class="nav-right-part nav-right-part-mobile">
            <a class="search-bar-btn" href="#">
                <i class="far fa-search"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="Iitechie_main_menu">
            <ul class="navbar-nav menu-open text-lg-end">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">about</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <li><a href="services.html">Services One</a></li>
                        <li><a href="services2.html">Services Two</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Projects</a>
                    <ul class="sub-menu">
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="project-details.html">Projects Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="team.html">Team Members</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="faqs.html">FAQs</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav-right-part nav-right-part-desktop">
            <button class="search-bar-btn">
                <i class="far fa-search"></i>
            </button>
            <a href="contact.html" class="theme-btn style-two">Get Started <i class="far fa-long-arrow-right"></i></a>
            <div class="menu-sidebar">
                <button>
                    <i class="far fa-ellipsis-h"></i>
                    <i class="far fa-ellipsis-h"></i>
                    <i class="far fa-ellipsis-h"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- navbar end -->
